@import 'bootstrap/dist/css/bootstrap.css';


body {

    position: relative;

}



li>a {
    color: white !important;
    font-size: 0.8rem !important;

}



.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    border: none;
    margin-top: 30px !important;
}

li {
    font-size: 13px;
}

.nav-link {
    transition: all 0.3s ease;
}

.nav-link:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

.logo {
    width: 65px;
    height: 65px;
}


.div>ul>li>a {
    font-size: 11px;
}

.navbar {
    transition: all .3s;
}

.compressed {
    padding-top: 0px;
    padding-bottom: 0px;

}

.fadein img {
    transition: 0.6s ease;
}

.fadein img:hover {
    opacity: 0.7;
    transition: 0.6s ease;
}

/* about */

.about-height {
    height: auto;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.about {
    width: auto;

}

/* minden-termék */

.product-card {
    width: 20%;

}

.product-card>a>img {
    width: 65%;

    transition: all 0.3s ease-in-out;

}

.product-card>a>img:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}

.product-card>p {
    height: 50px;
}

.cart-button {
    background-color: #6B8E23;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-button:hover {
    background-color: #556B2F;
    /* Sötétebb zöld háttér */
}

.cart-button:active {
    background-color: #3C4F1A;
    /* Még sötétebb zöld háttér */
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}





.product_top {
    padding-top: 100px;
}

.data>p {
    margin: 0;
}

/* Log page */
.side-left-hover {
    transition: all 0.5s ease-in-out;


}

.side-left-hover:hover {
    transition: all 0.5s ease-in-out;


}

.side-right-hover {
    transition: all 0.5s ease-in-out;

}

.side-right-hover:hover {
    transition: all 0.5s ease-in-out;
}

/* footer */

.footer {
    background-color: black !important;

}

/* Reszponzivitás */
.navbar-nav>li {
    padding-left: 8px;
    padding-right: 8px;
}
/* .hamburger {
    display: none;
} */

@media(min-width: 769px) {
    .navbar-nav {
        justify-content: space-around !important;
        margin: auto !important;
    }
}

@media(max-width: 1200px) {
    .resp_home_prod {
        flex-direction: column;
        align-items: center;
    }
    .resp_home_prod_2 {
        width: 60%;
        
    }
    .resp_main_social {
        width: 3rem;
    }

    li>a {
        font-size: 0.7rem !important;
    }


}

@media(max-width: 992px) {
    .resp_main_nav_2 {
        width: 80%;
    }
    li>a {
        font-size: 0.6rem !important;
    }
    /* .resp_product_1 {
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center !important;
    } */
    .resp_product {
        justify-content: center !important;
        align-items: center !important;
        margin: auto !important;
    }

}

@media (max-width: 768px) {

}